In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('../input/data-science-job-salaries/ds_salaries.csv')

In [ ]:
df.head(5)

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
#for numeric data
df.describe()

In [ ]:
#for categorical data
df.describe(include='O')

In [ ]:
df.duplicated().sum()

In [ ]:
sns.heatmap(df.corr(),annot=True)

In [ ]:
df['salary_currency'].unique()

In [ ]:
sns.boxplot(x=df['salary_in_usd'])

In [ ]:
#to show the top jobs & salary
df[['job_title','salary_in_usd']].sort_values(by='salary_in_usd',ascending=False)

In [ ]:
plt_1 = plt.figure(figsize=(10,10))
plt.xticks(rotation=90)
plt.bar(df['company_size'],df['salary_in_usd'])

In [ ]:
plt_1 = plt.figure(figsize=(10,10))
plt.xticks(rotation=90)
plt.bar(df['job_title'],df['salary_in_usd'])

In [ ]:
plt_1 = plt.figure(figsize=(10,10))
plt.xticks(rotation=90)
plt.bar(df['remote_ratio'],df['salary_in_usd'])

In [ ]:
plt_1 = plt.figure(figsize=(10,10))
plt.xticks(rotation=90)
plt.bar(df['employment_type'],df['salary_in_usd'])

In [ ]:
plt_1 = plt.figure(figsize=(10,10))
plt.xticks(rotation=90)
plt.bar(df['company_location'],df['salary_in_usd'])

In [ ]:
plt_1 = plt.figure(figsize=(10,10))
plt.xticks(rotation=90)
plt.bar(df['employee_residence'],df['salary_in_usd'])

In [ ]:
#outliars in salaray column
#calculate Quartiles
print('1 Quartile: ',df['salary_in_usd'].quantile(q=0.25))
print('2 Quartile: ',df['salary_in_usd'].quantile(q=0.50))
print('3 Quartile: ',df['salary_in_usd'].quantile(q=0.75))
print('4 Quartile: ',df['salary_in_usd'].quantile(q=1.00))

In [ ]:
print('Salary above: ',df['salary_in_usd'].quantile(q=0.75) + 1.5 * (df['salary_in_usd'].quantile(q=0.75) - df['salary_in_usd'].quantile(q=0.25)),'are outliars')

In [ ]:
df.drop(df[df.salary_in_usd > 280911.0].index, inplace = True)
sns.boxplot(df['salary_in_usd'])

In [ ]:
#LabelEncoder to make letter = number
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['employment_type']= labelencoder.fit_transform(df['employment_type'])
df['job_title']= labelencoder.fit_transform(df['job_title'])
df['company_location']= labelencoder.fit_transform(df['company_location'])
df['company_size']= labelencoder.fit_transform(df['company_size'])
df['employee_residence']= labelencoder.fit_transform(df['employee_residence'])
df['salary_currency']= labelencoder.fit_transform(df['salary_currency'])
df['experience_level'] = labelencoder.fit_transform(df['experience_level'])